<div class="w-full flex justify-center flex-wrap">
  <p>This document has been approved, and all required signatures have been completed. Would you like to download it as
    a PDF?</p>
  <div class="w-full md:w-1/2">
    <ul id="hehehe" class="flex flex-row overflow-x-scroll list-none pt-3 pb-2 mb-5 ">
      <li class="w-40 md:w-auto flex-shrink-0 -mb-px last:mr-0 flex-auto ">
        <a class="flex items-center gap-2 px-5 py-3 border-b-2 leading-normal cursor-pointer hover:text-blue-400 "
          (click)="toggleTabs(1)"
          [ngClass]="{'text-neutral-600 bg-zinc-50': openTab !== 1, 'text-blue-400 bg-white border-blue-500': openTab === 1}">
          <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="m14.435 11.624-4.31-4.382v4.1a.281.281 0 0 0 .281.282h4.029Z"></path>
            <path
              d="M8.625 12.563V6.75H2.812a.563.563 0 0 0-.562.563v15.375a.562.562 0 0 0 .563.562h11.624a.562.562 0 0 0 .563-.563v-9.562H9.187a.563.563 0 0 1-.562-.563Z">
            </path>
            <path d="M17.156 5.624h4.029l-4.31-4.382v4.1a.281.281 0 0 0 .281.282Z"></path>
            <path
              d="M15.938 7.125a.562.562 0 0 1-.563-.563V.75H8.062a.563.563 0 0 0-.562.563V5.25h1.974a1.913 1.913 0 0 1 1.354.57l5.117 5.202c.357.362.556.851.555 1.36v6.368h4.688a.562.562 0 0 0 .562-.563V7.126h-5.813Z">
            </path>
          </svg>
          <div>
            <p class="text-sm  font-bold uppercase no-block select-none">New Sign</p>
          </div>
        </a>
      </li>
      <li class="w-40 md:w-auto flex-shrink-0 -mb-px last:mr-0 flex-auto">
        <a class="flex items-center gap-2 px-5 py-3 border-b-2 leading-normal cursor-pointer hover:text-purple-400"
          (click)="toggleTabs(2)"
          [ngClass]="{'text-neutral-600 bg-zinc-50': openTab !== 2, 'text-purple-400 bg-white border-purple-500': openTab === 2}">
          <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.828 21.754H2.25v-2.579L16.788 4.602l2.614 2.614L4.828 21.754Z"></path>
            <path
              d="m19.956 6.656-2.612-2.612 1.484-1.437c.229-.23.58-.357.906-.357a1.214 1.214 0 0 1 .864.357l.797.797a1.213 1.213 0 0 1 .355.862c0 .328-.127.677-.357.907l-1.437 1.483Z">
            </path>
          </svg>
          <div>
            <p class="text-sm  font-bold uppercase no-block select-none">Approved</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>


<!-- <div class="w-full min-w-96 px-8 overflow-x-scroll flex gap-x-5 bg-red-100"> -->

<div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}" class="flex-shrink-0">

  <div *ngIf="notifications.length > 0" class="w-full flex items-center text-sm text-gray-500 dark:text-gray-400">
    <div class="relative w-fit h-auto cursor-pointer">
      <div class="flex items-center gap-x-2" (click)="openSortPanel()">
        <div class="">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 5v14"></path>
            <path d="M17 19V5"></path>
            <path d="m21 15-4 4-4-4"></path>
            <path d="m3 9 4-4 4 4"></path>
          </svg>
        </div>
        <div>Sort by</div>
      </div>
      <div class="mt-2 text-sm text-gray-600 dark:text-gray-300">
        Sorted by: <strong>{{ currentSortLabel }}</strong>
      </div>
      <div *ngIf="isSortPanelOpen" (click)="closeSortPanel()"
        class="absolute top-0 left-20 z-10 bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-40 dark:bg-gray-700 border group-hover:block">
        <button class="flex items-center gap-x-2 w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
          (click)="sortNotifications('date')">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 5H6a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2Z"></path>
            <path d="M16 3v4"></path>
            <path d="M8 3v4"></path>
            <path d="M4 11h16"></path>
            <path d="M11 15h1"></path>
            <path d="M12 15v3"></path>
          </svg>
          Sort by Date
        </button>
        <button class="flex items-center gap-x-2 w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
          (click)="sortNotifications('status')">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z"></path>
            <path d="m9 12 2 2 4-4"></path>
          </svg>
          Sort by Status
        </button>
        <button class="flex items-center gap-x-2 w-full text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600"
          (click)="sortNotifications('formType')">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
            <path d="M17 21H7a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h7l5 5v11a2 2 0 0 1-2 2Z"></path>
            <path d="M9 7h1"></path>
            <path d="M9 13h6"></path>
            <path d="M13 17h2"></path>
          </svg>
          Sort by Form Type
        </button>
      </div>
    </div>
    <div class="relative group flex items-center ml-auto cursor-pointer">
      <div>
        Help?
      </div>
      <button data-popover-target="popover-description" data-popover-placement="bottom-end" type="button">
        <svg class="w-4 h-4 ms-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor"
          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
            clip-rule="evenodd">
          </path>
        </svg>
        <div
          class="absolute top-8 right-0 hidden group-hover:block  z-10   text-sm text-gray-600 transition-opacity duration-300 bg-gray-50 border border-gray-400 rounded-lg shadow-md  w-72">
          <div class="p-3 space-y-2">
            <div>
              <div class="">
                <div class="my-4 space-y-5">
                  <div
                    class="relative mx-auto max-w-[40rem] rounded-md bg-white p-4 text-sm shadow-lg  border border-gray-300">
                    <div class="flex space-x-4 animate-pulse">
                      <div class="relative h-10 w-10">
                        <img class="h-full w-full rounded-full object-cover object-center"
                          src="https://i.pinimg.com/474x/be/bc/06/bebc0696c3291fb51ad2a70393e89708.jpg" alt="" />
                        <span
                          class="absolute right-0 bottom-0 h-2.5 w-2.5 rounded-full bg-green-400 ring ring-white"></span>
                      </div>
                      <div class="flex-1">
                        <div class="flex">
                          <h4 class="h-2.5 w-full rounded-full font-medium bg-gray-300">
                            <!-- Lorem, ipsum. -->
                          </h4>
                        </div>
                        <div class="mt-1 h-2.5 w-1/2 rounded-full font-medium bg-gray-300"></div>
                        <div class="mt-1 h-3 w-1/3 rounded-full font-medium bg-gray-300"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <p>You have signed it.</p>
              </div>
              <div class="">
                <div class="my-4 space-y-5">
                  <div
                    class="relative mx-auto max-w-[40rem] rounded-md bg-white p-4 text-sm shadow-lg  border border-gray-300">
                    <div class="flex space-x-4 animate-pulse">
                      <div class="relative h-10 w-10">
                        <img class="h-full w-full rounded-full object-cover object-center"
                          src="https://i.pinimg.com/474x/be/bc/06/bebc0696c3291fb51ad2a70393e89708.jpg" alt="" />
                        <span
                          class="absolute right-0 bottom-0 h-2.5 w-2.5 rounded-full bg-red-500 ring ring-white"></span>
                      </div>
                      <div class="flex-1">
                        <div class="flex">
                          <h4 class="h-2.5 w-full rounded-full font-medium bg-gray-300">
                            <!-- Lorem, ipsum. -->
                          </h4>
                        </div>
                        <div class="mt-1 h-2.5 w-1/2 rounded-full font-medium bg-gray-300"></div>
                        <div class="mt-1 h-3 w-1/3 rounded-full font-medium bg-gray-300"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <p>You have not signed it yet.</p>
              </div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>

  <div *ngIf="notifications.length > 0">
    <div *ngFor="let notif of notifications">
      <div class="my-4 space-y-5">
        <div class="relative mx-auto max-w-[40rem] rounded-md bg-white p-4 text-sm shadow-lg  border border-gray-300"
          [ngClass]="{'bg-green-50': notif.is_sign, 'bg-red-50': !notif.is_sign}">
          <div class="flex space-x-4">
            <div class="relative h-10 w-10">
              <img class="h-full w-full rounded-full object-cover object-center"
                src="https://i.pinimg.com/474x/be/bc/06/bebc0696c3291fb51ad2a70393e89708.jpg" alt="" />
              <span class="absolute right-0 bottom-0 h-2.5 w-2.5 rounded-full  ring ring-white"
                [ngClass]="{'bg-green-500': notif.is_sign, 'bg-red-500': !notif.is_sign}"></span>
            </div>
            <div class="flex-1">
              <div class="flex">
                <h4 class="pr-6 font-medium text-slate-900" *ngIf="notif.is_sign">
                  Signature Completed
                </h4>
                <h4 class="pr-6 font-medium text-slate-900" *ngIf="!notif.is_sign">
                  Signature Needed
                </h4>

                <span class="ml-auto font-normal text-slate-500">📅 {{ notif.timeAgo }}</span>
              </div>
              <div class="mt-1 text-slate-700">
                <!-- Form Type: {{ notif.document_code }} -->
                Form Type: {{ notif.document_name }}
              </div>
              <div class="mt-1 text-slate-500" *ngIf="notif.is_sign">
                You have successfully completed the signing process. Thank you for signing! Have a nice day.
              </div>
              <div class="mt-1 text-slate-500" *ngIf="!notif.is_sign">
                You have a new form awaiting your signature. Please check and complete the signing process.
              </div>
              <div class="mt-2 flex space-x-4">
                <!-- <button class="inline-block font-medium leading-loose text-slate-500 hover:text-slate-900">
              Dismiss
            </button> -->
                <button class="inline-block font-medium leading-loose text-blue-600 hover:text-blue-700">
                  <a routerLink="/form/{{ notif.document_code | lowercase }}/{{ notif.form_uuid }}">View Form</a>
                  <!-- <a routerLink="/form/hak-ha/{{ notif.form_uuid }}">View Permintaan Form</a> -->
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="notifications.length === 0">
    <div class="h-[80vh] w-full flex justify-center items-center text-center">
      <div class="flex flex-col items-center">
        <img class="w-1/2 md:w-1/4 aspect-square rounded-full"
          src="https://i.pinimg.com/474x/d9/fe/4a/d9fe4a7c15e643c8bcd1a31bd99347ff.jpg" alt="">
        <p class="text-capitalize font-semibold md:font-medium mt-4">Belum ada notifikasi🍃🍃</p>
      </div>
    </div>

  </div>
</div>

<div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}" class="flex-shrink-0">
  <div>
    <div class="space-y-5">
      <div class="relative mx-auto max-w-[400px] rounded-md border border-slate-50 bg-white p-4 text-sm shadow-lg">

        <div class="flex space-x-4">
          <div class="relative h-10 w-10">
            <img class="h-full w-full rounded-full object-cover object-center"
              src="https://i.pinimg.com/474x/ac/ef/3e/acef3e01c913a80a0faf5e6fc59c66b8.jpg" alt="" />
            <span class="absolute right-0 bottom-0 h-2.5 w-2.5 rounded-full bg-green-400 ring ring-white"></span>
          </div>
          <div class="flex-1">
            <div class="flex">
              <h4 class="pr-6 font-medium text-slate-900">
                Form Approved
              </h4>
              <span class="ml-auto font-normal text-slate-500">🕔 5 minutes ago</span>
            </div>
            <div class="mt-1 text-slate-500">
              Your form has been approved.
            </div>
            <div class="mt-2 flex space-x-4">
              <button class="inline-block font-medium leading-loose text-blue-600 hover:text-blue-700">
                View more
              </button>
              <button class="inline-block font-medium leading-loose text-slate-500 hover:text-slate-900">
                Download
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->