<nav class="font-sans flex flex-row md:bg-red-100 text-left justify-between py-2 px-6 bg-gradient-to-r from-white to-indigo-100 shadow items-center md:items-baseline w-full">

  
  <div class="md:hidden">
    <svg width="41" height="41" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M22 11c0-4.97-4.477-9-10-9S2 6.03 2 11h20Z" clip-rule="evenodd"></path>
      <path d="M22 19H2v3h20v-3Z"></path>
      <path d="m2 14 2.727 2 3.637-2L12 16l3.636-2 3.637 2L22 14"></path>
     </svg>
  </div>
  <div class="md:mb-0 mx-auto md:mx-0 md:flex md:flex-row">
    <div>
      <a routerLink="dashboard">
        <img class="w-auto h-9 md:h-12"
          src="https://fintech.id/storage/files/shares/logo/logofi2/LOGO%20AINO%20INDONESIA%202021%20-%20Syafri%20Yuzal.png"
          alt="">
      </a>
    </div>
  </div>

  <div class="md:mb-0 flex items-center md:space-x-4 ">
    <span class="hidden md:block">
      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M20.047 16.473c-1.204-1.473-2.053-2.223-2.053-6.285 0-3.72-1.9-5.044-3.463-5.688a.835.835 0 0 1-.466-.495C13.79 3.072 13.022 2.25 12 2.25s-1.791.823-2.063 1.756a.827.827 0 0 1-.466.494c-1.565.645-3.463 1.965-3.463 5.688-.002 4.062-.852 4.812-2.056 6.285-.499.61-.062 1.527.81 1.527h14.48c.867 0 1.301-.92.805-1.527Z">
        </path>
        <path d="M15 18v.75a3 3 0 0 1-6 0V18"></path>
      </svg>
    </span>
    <span class="hidden md:block">
      <a routerLink="/first-component">
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M19.875 4.5H4.125c-1.036 0-1.875.84-1.875 1.875v11.25c0 1.035.84 1.875 1.875 1.875h15.75c1.035 0 1.875-.84 1.875-1.875V6.375c0-1.036-.84-1.875-1.875-1.875Z">
          </path>
          <path d="M5.25 7.5 12 12.75l6.75-5.25"></path>
        </svg>
      </a>
    </span>
    <span class="hidden md:block">
      <a routerLink="/login">
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5"
          stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M14 8V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2v-2"></path>
          <path d="M21 12H7"></path>
          <path d="m18 15 3-3-3-3"></path>
        </svg>
      </a>
    </span>
    <!-- <a href="/two" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">About Us</a> -->
    <span class="md:border-l-[.5px] md:border-black md:pl-3 flex items-center space-x-3">
      <!-- <p>|</p> -->
      <p class="hidden md:block font-medium">Zani</p>
      <a routerLink="/user/profile">

        <img alt="tania andrew" src="https://picsum.photos/200"
          class="relative inline-block h-10 w-10 cursor-pointer rounded-full object-cover object-center"
          data-popover-target="profile-menu" />
      </a>
    </span>
    <!-- </div> -->

  </div>
</nav>