<div class="flex md:items-center justify-center md:h-screen">
    <div class="bg-white p-2 py-4 md:p-8 rounded-lg shadow-lg max-w-lg w-full">
        <div class="flex items-center space-x-2 md:mb-3">
            <h1 class="text-2xl font-semibold">Change Password</h1>
        </div>
        <p class="text-sm text-gray-600 mb-6">Update password for enhanced account security.</p>
        <form #changePasswordForm="ngForm" (ngSubmit)="onChangePassword()" id="changePasswordForm" class="space-y-6">
            <div>
                <label for="currentPassword" class="text-sm font-medium text-gray-700 block mb-2">Current Password</label>
                <input type="password" id="old_password" name="old_password" [(ngModel)]="old_password" required
                    placeholder="Your Password"
                    class="password-input form-input block w-full border border-gray-300 rounded-md shadow-sm"
                    #oldPassword="ngModel" />
                <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
                    class="text-red-500 text-sm mt-1">
                    <div *ngIf="oldPassword.errors?.['required']">* Current password is required.</div>
                </div>
            </div>

            <div>
                <label for="newPassword" class="text-sm font-medium text-gray-700 block mb-2">New Password</label>
                <input type="password" id="new_password" name="new_password" [(ngModel)]="new_password" required
                    minlength="8" pattern="(?=.*\d)(?=.*[A-Z]).*" placeholder="New Password"
                    class="password-input form-input block w-full border border-gray-300 rounded-md shadow-sm"
                    #newPassword="ngModel" />
                <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                    class="text-red-500 text-sm mt-1">
                    <div *ngIf="newPassword.errors?.['required']">* New password is required.</div>
                    <div *ngIf="newPassword.errors?.['minlength']">* New password must be at least 8 characters long.
                    </div>
                    <div *ngIf="newPassword.errors?.['pattern']">* New password must contain at least one uppercase letter
                        and one number.</div>
                </div>
            </div>

            <div>
                <label for="confirmPassword" class="text-sm font-medium text-gray-700 block mb-2">Confirm New Password</label>
                <input type="password" id="confirm_password" name="confirm_password" [(ngModel)]="confirm_password"
                    required placeholder="Confirm Password"
                    class="password-input form-input block border w-full border-gray-300 rounded-md shadow-sm"
                    #confirmPassword="ngModel" />
                <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                    class="text-red-500 text-sm mt-1">
                    <div *ngIf="confirmPassword.errors?.['required']">* Confirm password is required.</div>
                </div>
            </div>
            <div id="passwordCriteria" class="text-sm space-y-2">
                <p class="text-red-500">Password must contain:</p>
                <ul class="list-disc pl-5 space-y-1">
                    <li>At least 1 uppercase</li>
                    <li>At least 1 number</li>
                    <li>At least 8 characters</li>
                </ul>
            </div>
            <div class="flex justify-between">
                <button type="button" onclick="window.history.back();"
                    class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 rounded-md hover:bg-gray-300 focus:outline-none focus:ring focus:border-blue-300">Back</button>
                <button type="submit"
                    class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">Apply
                    Changes</button>
            </div>
        </form>
    </div>


</div>