<h1 class="py-3 text-center text-3xl font-semibold text-gray-800">Project</h1>
<div class="flex w-full pb-4 px-2 bg-white">
  <label for="table-search" class="sr-only">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <input type="text" id="table-search"  [(ngModel)]="searchText" name="searchText"
      class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg lg:w-80 md:w-64 sm:w-40 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Search for items">
  </div>
  <button type="button" (click)="openAddModal()" *ngIf="role_code === 'SA'"
    class="ml-auto text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-2 py-1 md:px-5 md:py-2.5 text-center inline-flex items-center">
    Add Project
  </button>
</div>
<div class="relative py-2 overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex flex-col overflow-y-scroll h-[68vh]">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 z-10">
        <tr>
          <th scope="col" class="px-6 py-3">No.</th>
          <th scope="col" class="px-6 py-3">Kode Projek</th>
          <th scope="col" class="px-6 py-3">Nama Projek</th>
          <th scope="col" class="px-6 py-3">Project PIC</th>
          <th scope="col" class="px-6 py-3">Nama Produk</th>
          <th scope="col" class="px-6 py-3" *ngIf="role_code === 'SA'">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itemProject of (projectService.dataListProject$ | async) let x = index"
          class="bg-white border-b hover:bg-gray-50">
          <ng-container *ngIf="matchesSearch(itemProject)">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ x + 1 }}</th>
            <td class="px-6 py-4">{{ itemProject.project_code }}</td>
            <td class="px-6 py-4">{{ itemProject.project_name }}</td>
            <td class="px-6 py-4">{{ itemProject.project_manager }}</td>
            <td class="px-6 py-4">{{ itemProject.product_name }}</td>
            <!-- Button Popover -->
            <td class="px-6 py-4 " *ngIf="role_code === 'SA'">
              <div class="relative">
                <button (click)="togglePopover($event, x)"
                  class="p-2 bg-blue-400 text-white rounded-xl hover:bg-blue-600">
                  <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M6 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M18 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                  </svg>
                </button>
                <div *ngIf="popoverIndex === x"
                  class="popover-content absolute right-full top-0 mr-2 w-44 border rounded-lg bg-white shadow-lg z-[2] ">
                  <div class="py-2">
                    <button type="button" (click)="openEditModal(itemProject.project_uuid)"
                      class="w-full flex items-center text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white transition duration-150 ease-in-out">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-3"></path>
                        <path d="M9 14.996h3l8.5-8.5a2.121 2.121 0 0 0-3-3l-8.5 8.5v3Z"></path>
                        <path d="m16 5 3 3"></path>
                      </svg>
                      Edit
                    </button>
                    <button type="button" (click)="onDeleteProject(itemProject.project_uuid)"
                      class="w-full flex items-center text-left px-4 py-2 hover:bg-gray-100 text-red-500 dark:hover:bg-gray-600 dark:hover:text-white transition duration-150 ease-in-out">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="m5.25 5.25.938 15c.044.867.675 1.5 1.5 1.5h8.625c.828 0 1.447-.633 1.5-1.5l.937-15">
                        </path>
                        <path d="M3.75 5.25h16.5"></path>
                        <path d="M9 5.25V3.375a1.122 1.122 0 0 1 1.125-1.125h3.75A1.121 1.121 0 0 1 15 3.375V5.25">
                        </path>
                        <path d="M12 8.25v10.5"></path>
                        <path d="M8.625 8.25 9 18.75"></path>
                        <path d="M15.375 8.25 15 18.75"></path>
                      </svg>
                      Delete
                    </button>
                  </div>
                  <div
                    class="absolute -right-2 top-3 w-0 h-0 border-t-8 border-b-8 border-l-8 border-transparent border-l-[#cdcdd1]">
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- ADD MODAL -->
<div *ngIf="isModalAddOpen" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div
    class="relative w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
    <!-- Modal header -->
    <div class="sticky top-0 flex bg-white items-center justify-between p-4 border-b rounded-t dark:border-gray-600">
      <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
        Tambah
      </h3>
      <button (click)="closeAddModal()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <form #addProjectForm="ngForm" class="p-6">
      <h3 class="text-2xl text-gray-900 font-semibold">Project!</h3>
      <p class="text-gray-600">Masukkan informasi projek yang ingin anda tambahkan</p>

      <div class="mt-4">
        <label for="projecttName" class="text-sm md:text-base">Nama Project</label>
        <input type="text" id="projectName" placeholder="Masukkan Nama Project" [(ngModel)]="project_name" name="project_name" required class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="projectCode" class="text-sm md:text-base">Kode Project</label>
        <input type="text" id="projectCode" placeholder="Masukkan kode Project" [(ngModel)]="project_code" name="project_code" required class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="projectManager" class="text-sm md:text-base">Manager Project</label>
        <input type="text" id="projectManager" placeholder="Masukkan nama Manager" [(ngModel)]="project_manager" name="project_manager" required class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="projectSelect" class="text-sm md:text-base mb-1">Pilih Produk</label>
        <select id="productName" [(ngModel)]="product_uuid" name="product_uuid" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="" disabled>Pilih Produk</option>
          <option *ngFor="let itemProduct of dataListProduct" [value]="itemProduct.product_uuid">{{itemProduct.product_name}}</option>
        </select>
      </div>
    </form>

    <!-- Modal footer -->
    <div class="flex items-center p-4 border-t border-gray-200 rounded-b dark:border-gray-600">
      <button (click)="addProject()" type="button" [disabled]="addProjectForm.invalid"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      <button (click)="closeAddModal()" type="button"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700">Cancel</button>
    </div>
  </div>
</div>


<!-- EDIT MODAL -->
<div *ngIf="isModalEditOpen" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div
    class="relative w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
    <!-- Modal header -->
    <div class="sticky top-0 flex bg-white items-center justify-between p-4 border-b rounded-t dark:border-gray-600">
      <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
        Edit
      </h3>
      <button (click)="closeAddModal()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <form #editProjectForm="ngForm" class="p-6">
      <h3 class="text-2xl text-gray-900 font-semibold">Project!</h3>
      <p class="text-gray-600">Masukkan informasi Project yang ingin anda edit</p>
      <div class="mt-4">
        <label for="projecttName" class="text-sm md:text-base">Nama Project</label>
        <input type="text" id="projectName" placeholder="Masukkan nama Project" [(ngModel)]="project_name" name="project_name" required class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="projectCode" class="text-sm md:text-base">Kode Project</label>
        <input type="text" id="projectCode" placeholder="Masukkan kode Project" [(ngModel)]="project_code" name="project_code" required class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="projectManager" class="text-sm md:text-base">Manager Project</label>
        <input type="text" id="projectManager" placeholder="Masukkan nama Manager" [(ngModel)]="project_manager" name="project_manager" required class="border rounded-xl p-2 w-full  ">
      </div>
      <div class="mt-4">
        <label for="productSelect" class="text-sm md:text-base mb-1">Pilih Produk</label>
        <select id="productName" [(ngModel)]="product_uuid" name="product_uuid" required
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="" disabled>Pilih Produk</option>
          <option *ngFor="let product of dataListProduct" [value]="product.product_uuid">{{ product.product_name }}</option>
        </select>
      </div>
    </form>

    <!-- Modal footer -->
    <div class="flex items-center p-4 border-t border-gray-200 rounded-b dark:border-gray-600">
      <button (click)="updateProject()" type="button" [disabled]="editProjectForm.invalid"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      <button (click)="closeEditModal()" type="button"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700">Cancel</button>
    </div>
  </div>
</div>