<!-- component -->
<div class="bg-gray-100 flex justify-center items-center h-screen">
  <!-- Left: Image -->
  <div class="w-1/2 h-screen hidden lg:block">
    <img src="https://i.pinimg.com/564x/6a/86/69/6a86691c29bd549123fa1606cb7ffdfd.jpg" alt="Placeholder Image"
      class="object-cover w-full h-full">
  </div>
  <!-- Right: Login Form -->
  <div class="lg:p-32 md:p-28 sm:20 p-8 w-full lg:w-1/2">
    <!-- <h1 class="text-2xl font-semibold mb-4">Login</h1> -->
    <div class="text-center">
      <h2 class="mt-3 text-3xl font-semibold text-gray-900">
        Welcome Back!
      </h2>
      <p class="mt-2 text-sm text-gray-500">Please sign in to your account</p>
    </div>
    <form class="mt-8 space-y-6" (ngSubmit)="onLogin()" #loginForm="ngForm">
      <input type="hidden" name="remember" value="true">
      <div class="relative">
        <label class="ml-3 text-lg font-semibold text-gray-700 tracking-wide">Email</label>
        <input
          class=" w-full text-sm px-4 py-2 border-b border-gray-300 focus:outline-none rounded-2xl focus:border-indigo-500"
          type="email" name="user_email" data-test="user_email" placeholder="mail@ainosi.com" value="" [(ngModel)]="loginData.user_email" required>
      </div>
      <div class="mt-8 content-center">
        <label class="ml-3 text-lg font-semibold text-gray-700 tracking-wide">
          Password
        </label>
        <input
          class="w-full content-center text-sm px-4 py-2 border-b rounded-2xl border-gray-300 focus:outline-none focus:border-indigo-500"
          type="password" name="user_password" data-test="user_password" placeholder="Enter your password" value="" [(ngModel)]="loginData.user_password" required>
      </div>

      <div>
        <button type="submit" class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600 hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4 rounded-full tracking-wide font-semibold shadow-lg cursor-pointer transition ease-in duration-500" (click)="onLogin()" [disabled]="loginForm.invalid">
          Sign in
        </button>
        
        <!-- <button type="submit"
          class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
          Sign in
        </button> -->
      </div>
    </form>
  </div>
</div>