<h1 class="py-3 text-center text-3xl font-semibold text-gray-800">User Control</h1>
<div class="flex w-full pb-4 px-2 bg-white">
  <label for="table-search" class="sr-only">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 rtl:inset-r-0 rtl:right-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-5 h-5 text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <input type="text" id="table-search" [(ngModel)]="searchText" name="searchText"
      class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg lg:w-80 md:w-64 sm:w-40 bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
      placeholder="Search for items">
  </div>
  <button type="button" (click)="openAddModal()"
    class="ml-auto text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-2 py-1 md:px-5 md:py-2.5 text-center inline-flex items-center">
    Add User
  </button>
</div>
<div class="relative py-2 overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex flex-col overflow-y-scroll h-[68vh]">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="sticky top-0 text-xs text-gray-700 uppercase bg-gray-50 z-10">
        <tr>
          <th scope="col" class="px-6 py-3">No.</th>
          <th scope="col" class="px-6 py-3">Nama</th>
          <th scope="col" class="px-6 py-3">Email</th>
          <th scope="col" class="px-6 py-3">Divisi</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of (userService.dataListUser$ | async); let x = index"
          class="bg-white border-b hover:bg-gray-50">
          <ng-container *ngIf="matchesSearch(user)">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ x + 1 }}</th>
            <td class="px-6 py-4">{{ user.user_name }}</td>
            <td class="px-6 py-4">{{ user.user_email }}</td>
            <td class="px-6 py-4">{{ user.division_title }}</td>
            <!-- Button Popover -->
            <td class="px-6 py-4 ">
              <div class="relative">
                <button (click)="togglePopover($event, x)"
                  class="p-2 bg-blue-400 text-white rounded-xl hover:bg-blue-600">
                  <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M6 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                    <path d="M18 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                  </svg>
                </button>
                <div *ngIf="popoverIndex === x"
                  class="popover-content absolute right-full top-0 mr-2 w-44 border rounded-lg bg-white shadow-lg z-[2] ">
                  <div class="py-2">
                    <button type="button" (click)="openEditModal(user.user_application_role_uuid)"
                      class="w-full flex items-center text-left px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white transition duration-150 ease-in-out">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-3"></path>
                        <path d="M9 14.996h3l8.5-8.5a2.121 2.121 0 0 0-3-3l-8.5 8.5v3Z"></path>
                        <path d="m16 5 3 3"></path>
                      </svg>
                      Edit
                    </button>
                    <button type="button" (click)="onDeleteUser(user.user_application_role_uuid)"
                      class="w-full flex items-center text-left px-4 py-2 hover:bg-gray-100 text-red-500 dark:hover:bg-gray-600 dark:hover:text-white transition duration-150 ease-in-out">
                      <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2"
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="m5.25 5.25.938 15c.044.867.675 1.5 1.5 1.5h8.625c.828 0 1.447-.633 1.5-1.5l.937-15">
                        </path>
                        <path d="M3.75 5.25h16.5"></path>
                        <path d="M9 5.25V3.375a1.122 1.122 0 0 1 1.125-1.125h3.75A1.121 1.121 0 0 1 15 3.375V5.25">
                        </path>
                        <path d="M12 8.25v10.5"></path>
                        <path d="M8.625 8.25 9 18.75"></path>
                        <path d="M15.375 8.25 15 18.75"></path>
                      </svg>
                      Delete
                    </button>
                  </div>
                  <div
                    class="absolute -right-2 top-3 w-0 h-0 border-t-8 border-b-8 border-l-8 border-transparent border-l-[#cdcdd1]">
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ADD MODAL -->
<div *ngIf="isModalAddOpen" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div
    class="relative w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
    <!-- Modal header -->
    <div class="sticky top-0 flex bg-white items-center justify-between p-4 border-b rounded-t dark:border-gray-600">
      <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
        Tambah
      </h3>
      <button (click)="closeAddModal()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <form action="" class="p-6">
      <h3 class="text-2xl text-gray-900 font-semibold">User Controll!</h3>
      <p class="text-gray-600">Masukkan informasi user yangg ingin anda tambahkan</p>

      <div class="mt-4">
        <label for="userName" class="text-sm md:text-base">User Name</label>
        <input type="text" name="user_name" id="userName" [(ngModel)]="user_name" required
          placeholder="Enter your user name" class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="nama" class="text-sm md:text-base">Nama</label>
        <input type="text" name="frist_name" id="fullName" [(ngModel)]="personal_name" required
          placeholder="Enter your full name" class="border rounded-xl p-2 w-full  ">

      </div>

      <div class="mt-4">
        <label for="email" class="text-sm md:text-base">Email</label>
        <input type="text" name="email" id="email" placeholder="example@ainosi.co.id" [(ngModel)]="user_email" required
          class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="password" class="text-sm md:text-base">Password</label>
        <input type="text" name="applicantName" id="password"
          placeholder="Enter a secure password (8 characters minimum)" [(ngModel)]="user_password" required
          class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="tglLahir" class="text-sm md:text-base">Tanggal Lahir</label>
        <input type="date" name="user_birthday_update" [(ngModel)]="personal_birthday"
          class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="gender" class="text-sm md:text-base">Gender</label>
        <select data-test="select_gender" aria-label="Select Gender" [(ngModel)]="personal_gender"
          name="personal_gender"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Pilih Gender</option>
          <option value="Laki-laki">Laki-laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
      </div>

      <div class="mt-4">
        <label for="noHp" class="text-sm md:text-base">Nomor HP</label>
        <input type="tel" name="personal_phone_add" id="noHp" placeholder="Enter your phone number"
          [(ngModel)]="personal_phone" class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="alamat" class="text-sm md:text-base">Alamat</label>
        <input type="text" name="personal_address" [(ngModel)]="personal_address" required
          placeholder="Enter your address" class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="aplikasi" class="text-sm md:text-base">Aplikasi</label>
        <select id="aplikasi" data-test="select_application" aria-label="Select Application" name="application_uuid"
          [(ngModel)]="application_uuid" (change)="onApplicationChange()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Pilih Aplikasi</option>
          <option *ngFor="let app of dataListApplication" [value]="app.application_uuid">{{ app.application_title }}
          </option>
        </select>
      </div>

      <div class="mt-4">
        <label for="role" class="text-sm md:text-base">Role</label>
        <select id="role" aria-label="Select Role" data-test="select_role" [(ngModel)]="form.value.role_uuid"
          name="roleUuid"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Pilih Role</option>
          <option *ngFor="let role of dataListRole" [value]="role.role_uuid">{{ role.role_title }}</option>
        </select>
      </div>

      <div class="mt-4">
        <label for="divisi" class="text-sm md:text-base">Divisi</label>
        <select id="divisi" aria-label="Select Division" data-test="select_division"
          [(ngModel)]="form.value.division_uuid" name="division_uuid"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Pilih Divisi</option>
          <option *ngFor="let division of dataListDivision" [value]="division.division_uuid">{{ division.division_title
            }}</option>
        </select>
      </div>
    </form>

    <!-- Modal footer -->
    <div class="flex items-center p-4 border-t border-gray-200 rounded-b dark:border-gray-600">
      <button (click)="addUser()" type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      <button (click)="closeAddModal()" type="button"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700">Cancel</button>
    </div>
  </div>
</div>

<!-- Edit modal -->
<div *ngIf="isModalEditOpen" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div
    class="relative w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
    <!-- Modal header -->
    <div class="sticky top-0 flex bg-white items-center justify-between p-4 border-b rounded-t dark:border-gray-600">
      <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">
        Edit
      </h3>
      <button (click)="closeEditModal()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <form action="" class="p-6">
      <h3 class="text-2xl text-gray-900 font-semibold">User Control!</h3>
      <p class="text-gray-600">Masukkan informasi user yang ingin anda edit</p>

      <div class="mt-4">
        <label for="userName" class="text-sm md:text-base">User Name</label>
        <input type="text" name="edit_user_name" [(ngModel)]="user_name" required placeholder="Enter your username"
          class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="nama" class="text-sm md:text-base">Nama</label>
        <input type="text" name="personal_name" [(ngModel)]="personal_name" required required
          placeholder="Enter your full name" class="border rounded-xl p-2 w-full  ">

      </div>

      <div class="mt-4">
        <label for="email" class="text-sm md:text-base">Email</label>
        <input type="text" name="user_email" [(ngModel)]="user_email" required required
          placeholder="example@ainosi.co.id" required class="border rounded-xl p-2 w-full  ">
      </div>

      <!-- <div class="mt-4">
        <label for="password" class="text-sm md:text-base">Password</label>
        <input type="text" name="applicantName" id="password" placeholder="Enter a secure password (8 characters minimum)" [(ngModel)]="user_password" required
          class="border rounded-xl p-2 w-full  ">
      </div> -->

      <div class="mt-4">
        <label for="tglLahir" class="text-sm md:text-base">Tanggal Lahir</label>
        <input type="date" name="user_birthday_add" id="tglLahir" placeholder="Pilih tanggal lahir"
          [(ngModel)]="personal_birthday" [max]="maxBirthdayDate" class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="gender" class="text-sm md:text-base">Gender</label>
        <select id="gender" data-test="select_gender" aria-label="Select Gender" [(ngModel)]="personal_gender"
          name="personal_gender"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Pilih Gender</option>
          <option value="Laki-laki">Laki-laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
      </div>

      <div class="mt-4">
        <label for="noHp" class="text-sm md:text-base">Nomor HP</label>
        <input type="tel" name="personal_phone_add" id="noHp" placeholder="Enter your phone number"
          [(ngModel)]="personal_phone" class="border rounded-xl p-2 w-full  ">
      </div>

      <div class="mt-4">
        <label for="alamat" class="text-sm md:text-base">Alamat</label>
        <input type="text" name="personal_address_add" id="alamat" [(ngModel)]="personal_address"
          class="border rounded-xl p-2 w-full  ">
      </div>


      <div class="mt-4">
        <label for="aplikasi" class="text-sm md:text-base">Aplikasi</label>
        <select id="aplikasi" data-test="select_application" aria-label="Select Application" name="application_uuid"
          [(ngModel)]="form.value.application_uuid" (change)="onApplicationChange()"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="" selected>Pilih Aplikasi</option>
          <option *ngFor="let app of dataListApplication" [value]="app.application_uuid">{{ app.application_title }}
          </option>
        </select>
      </div>

      <div class="mt-4">
        <label for="role" class="text-sm md:text-base">Role</label>
        <select id="role" aria-label="Select Role" data-test="select_role" [(ngModel)]="form.value.role_uuid"
          name="roleUuid"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="" selected>Pilih Role</option>
          <option *ngFor="let role of dataListRole" [value]="role.role_uuid">{{ role.role_title }}</option>
        </select>
      </div>

      <div class="mt-4">
        <label for="divisi" class="text-sm md:text-base">Divisi</label>
        <select id="divisi" aria-label="Select Division" data-test="select_division"
          [(ngModel)]="form.value.division_uuid" name="division_uuid"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="" selected>Pilih Divisi</option>
          <option *ngFor="let division of dataListDivision" [value]="division.division_uuid">{{ division.division_title
            }}</option>
        </select>
      </div>

    </form>

    <!-- Modal footer -->
    <div class="flex items-center p-4 border-t border-gray-200 rounded-b dark:border-gray-600">
      <button (click)="updateUser()" type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      <button (click)="closeEditModal()" type="button"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700">Cancel</button>
    </div>
  </div>
</div>

<!-- Detail MODAL -->
<div *ngIf="isModalDetailOpen" tabindex="-1" aria-hidden="true"
  class="fixed top-0 left-0 right-0 bottom-0 z-50 flex items-center justify-center bg-gray-900 bg-opacity-50">
  <div
    class="relative p w-full max-w-xl md:max-w-2xl bg-white rounded-lg shadow dark:bg-gray-700 max-h-[90vh] overflow-y-auto mx-4 md:mx-0">
    <!-- Modal header -->
    <div
      class="sticky top-0 flex items-center justify-between p-2 md:p-4 border-b rounded-t bg-white dark:border-gray-600">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
        Details
      </h3>
      <button (click)="closeDetailModal()"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <div class="px-2 md:px-10 py-2 md:py-4 mx-auto">
      <table class="w-full mb-8">
        <tbody>
          <tr>
            <td class="text-left text-gray-700"><strong>Username</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ user_name }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Email</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ user_email }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Nama Lengkap</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ personal_name }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Tanggal Lahir</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ personal_birthday }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Jenis Kelamin</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ personal_gender }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Telepon</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ personal_phone }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Alamat</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ personal_address }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Divisi</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ division_title }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Role</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ role_title }}</td>
          </tr>
          <tr>
            <td class="text-left text-gray-700"><strong>Aplikasi</strong></td>
            <td class="px-2 text-center">:</td>
            <td class="text-left text-gray-700">{{ application_title }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>