<!-- component -->

<div class="max-w-full sm:mx-auto sm:px-6">
  <div class="text-sm md:text-base grid grid-cols-2 lg:flex gap-1 md:gap-3">
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-full sm:my-8">
      <div class="bg-white p-5">
        <div class="sm:flex sm:items-start">
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-400">Form DA</h3>
            <p class="text-2xl md:text-3xl font-bold text-black">{{dataDALength}}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-full sm:my-8">
      <div class="bg-white p-5">
        <div class="sm:flex sm:items-start">
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-400">Form ITCM</h3>
            <p class="text-2xl md:text-3xl font-bold text-black">{{dataITCMLength}}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-full sm:my-8">
      <div class="bg-white p-5">
        <div class="sm:flex sm:items-start">
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-400">BA ITCM</h3>
            <p class="text-2xl md:text-3xl font-bold text-black">{{dataBALength}}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow transform transition-all mb-4 w-full sm:my-8">
      <div class="bg-white p-5">
        <div class="sm:flex sm:items-start">
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-400">Hak Akses</h3>
            <p class="text-2xl md:text-3xl font-bold text-black">Kosong</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="">
  <div class="relative space-y-8 md:space-y-0 md:flex md:flex-row-reverse h-screen border">
    <img class="absolute bottom-0 right-0 w-64 hidden md:block z-0"
      src="https://rekrutmenbersama2024.fhcibumn.id/assets/frontend/images/omni-right.svg" alt="">
    <div class="flex justify-center items-center md:w-1/2 ">
      <div class="h-auto w-full px-4">
        <h1 class="py-6 text-3xl font-bold">“AINO Bikin Jadi Mudah”</h1>
        <hr>
        <p class="mt-4 py-4 leading-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime dolore rem non unde, veniam, veritatis minus modi assumenda blanditiis consectetur facilis aut ea architecto perferendis harum explicabo rerum alias eligendi?</p>

        <h5 class="font-medium">Raih karir impianmu dengan belajar, bertumbuh dan
          berkontribusi untuk Indonesia!
        </h5>
        <p class="mt-5 mb-3">
          <i class="text-sky-700">#bikinjadimudah</i>
        </p>

        <button class="text-sm md:text-lg px-5 md:px-9 py-1 bg-gradient-to-r from-sky-200 to-sky-500 hover:bg-gradient-to-r hover:from-sky-300 hover:to-sky-600 p-4 rounded-full text-gray-50 hover:shadow-sm">Flow Hak Akses</button>
      </div>
    </div>
    <div class="md:w-1/2"><img class="h-full w-full object-cover"
        src="https://i.pinimg.com/474x/9e/89/d9/9e89d928b8d2d0edef485b245f1c9552.jpg" alt="" srcset=""></div>
  </div>
</div>