/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: 20px;
  border: none;
}

/* 
*{
  background-color: rgb(46, 140, 216);
} */