/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: white;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: 20px;
  border: none;
}

/* styles.scss atau styles.css */
.active-link {
  @apply text-blue-700 bg-gradient-to-r from-white to-cyan-50 shadow-sm;
  /* @apply text-neutral-800 bg-gradient-to-tr from-yellow-50 via-green-100 to-cyan-50 outline; */
}

/* .svg-active-link {
  @apply text-blue-600;
} */

/* 
*{
  background-color: rgb(46, 140, 216);
} */
